* {
    font-family: monospace, fantasy, "times new roman";
    color: black;
    background-color: whitesmoke;
}

h1,h2,h3 {
    color: rgb(211, 166, 211);
    text-align: center;
    background-color: rebeccapurple;
}
.title1 {
    display: block;
    margin: auto;
    padding: 40px;
}

img {
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.link {
    color: rebeccapurple;
    background-color: rgb(211, 166, 211);
    font-size: 26px;

}